.leftside, .rightside {
  height:50vh;
  width: 100%;
}

@media screen and (min-width:768px)
{ 
  .leftside, .rightside{
      height:100vh;
  }
}
.rightside{
  background:blue;

}.laukums {
  max-width: 50%;
  display: grid;
  margin-right: 5px;
  grid-template-columns: auto auto auto auto;
  float: right;
}
span{
  font-weight: bold;
  padding: 5px;
}
.teksts{
  padding: 5px 10px;
	margin: 5px;
  background:#1b1b1b;
  border-radius: 10px;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, .6),
                inset -2px -2px 3px rgba(255, 255, 255, .6);
}
.pogas{
  max-width: 50%;
  float: left;
}
h1{
text-align: center;
font-family: sans-serif;;
}
.poga{
  color:#ffffff;
  text-transform: uppercase;
	background:#1b1b1b;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 10px;
  cursor: pointer;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.poga:hover {
  background-color:#6d6d6d
}
.spele-karte:hover{
  background-color: powderblue;
  transition: background-color .5s;
}
.spele-karte {
  background: #3d3b3b;
  padding: 8px;
  text-align: center;
  border: 4px solid #ffffff;
	cursor: pointer;
	border-radius: 15px;
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
  background: #6d6d6d;
}
.spele-karte.open {
  background: grey;
  transform:scale(.90);
  transition: transform .9s;
}
.spele-karte.ok {
  background: grey;
}


.bg-white {
  background-color: #fff;
}

.chat-message {
  position:fixed;
  top: 70px; 
  left: 0;
  right: 0;
  bottom:70px;
  padding: 15px;
  overflow-y:scroll; 
  float: none; 
}

.chat {
  list-style: none;
  margin: 0;
}

.chat-body {
  padding-bottom: 20px;
}

ul.chat {
  padding-inline-start: 5px;
}

.chat li.left .chat-body {
  background-color: #fff;
}

.chat li .chat-body {
  position: fixed;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #f1f5fc;
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.chat li .chat-body .header {
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f5fc;
}

.chat li .chat-body p {
  margin: 0;
}

.chat li.left .chat-body:before {
  position: fixed;
  top: 10px;
  left: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-left: 1px solid #f1f5fc;
  content: '';
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.chat li {
  margin: 15px 0;
}

.chat-box {
  position:fixed; 
  bottom: 0; 
  /* height:15px; */
  left: 20px;
  right: 20px;
  padding: 15px;
  border-top: 1px solid #eee;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.btn-success {
  background-color: #276FBF;
}

.btn-success:hover {
  background-color: blue;
}

input[type=text] {
  border: 2px solid #183059 !important;
  border-radius: 4px;
  color: #183059;
}

/*a:hover, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}*/